.secondpage-first__container {
    max-width: 635px;
    margin-top: 100px;
    margin-bottom: 61px;
    max-height: 381px;

}

.secondpage-first__header {
    max-width: 495px;
    margin-bottom: 29px;

}

.walking-girl {
    width: 1110px;
    height: 660px;
    width: 100%;
    object-fit: cover;
}

.secondpage-second__container {
    max-width: 1110px;
    margin-top: 45px;
    margin-bottom: 45px;
    max-height: 93px;

}